@import url(./reset.css);

body{
    font-family: 'Rubik', sans-serif;
    background-color: #EEEEEE;
}

.container{
    max-width: 1680px;
    padding: 0 30px;
    margin: 0 auto;
}

.header{
    background-color: #FFFFFF;
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.navigation_ul{
    display: flex;
}

.navigation_ul li{
    padding-right: 80px;
}

.navigation_ul li:last-child{
    padding-right: 0;
}

.navigation_ul_li a{
    font-size: 20px;
    font-weight: 500;
    color: #393E46;
    transition: .3s;
}

.navigation_ul_li a:hover{
    color: #b1b1b1;
}

.banner{
    background-image: url(../img/bg.png);
    height: 880px;
}

.banner_content{
    height: 880px;
    display: flex;
    align-items: center;
}

.banner_content_block{
    height: auto;
}

.banner_content_text{
    height: auto;
    padding-bottom: 80px;
}

.banner_content_text h1{
    color: #222831;
    font-weight: 700;
    font-size: 64px;
    width: 730px;
}

.banner_content_text p{
    color: #646464;
    font-weight: 400;
    font-size: 20px;
    width: 570px;
    padding-top: 33px;
}

.btn_services{
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 74px;
    padding-right: 74px;
    border-radius: 60px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    background-color: #222831;
}

.banner_content_services{
    display: flex;
    padding-top: 136px;
}

.banner_service_card{
    display: flex;
    width: 270px;
    height: 120px;
    background-color: #EEEEEE;
    border-radius: 20px;
    align-items: center;
    margin-right: 30px;
}

.img_card{
    width: 60px;
    height: 60px;
    margin-left: 30px;
}

.banner_service_card_text{
    padding-left: 30px;
    color: #393E46;
}

.banner_service_card_text h1{
    font-size: 24px;
    font-weight: 700;
}

.banner_service_card_text p{
    font-size: 16px;
    font-weight: 500;
}

.dignitys{
    height: 260px;
    background-color: #222831;
}

.dignity_content{
    height: 260px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.dignity_text{
    height: 102px;
}

.dignity_text h1{
    font-weight: 700;
    font-size: 32px;
    color: #FD7014;
}

.dignity_text p{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    width: 322px;
    padding-top: 16px;
}

.calculate{
    height: 760px;
}

.calculate_content{
    height: 760px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator{
    width: 772px;
    height: 500px;
    background-color: #FFFFFF;
    border-radius: 20px;
}